@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

.array-container {
    position: absolute;
    bottom: 50px;
    left: 50px;
    margin: 0;
    padding: 0;
}

.array-bar {
    width: 2px;
    background-color: #ff59ac;
    display: inline-block;
    margin-left: 1px;
    margin-right: 1px;
    padding: 0;
}

.menu {
    margin-top: 20px;
}

.button {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: calc(10px + 1vmin);
    font-weight: 100;
    background-color: #303030;
    color: white;
    border: none;
    margin: 10px 20px;
    padding: 10px;
    border-radius: 10px;
}

.button:hover {
    transform: scale(1.1);
}
